# Logs
logs/
*.log

# Dependency directories
node_modules/
sql-queries/

# Environment files
.env

# Build output
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
