<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>

  <!-- Bootstrap CSS -->
  
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include('navbar.ejs') %>

<body class="homepage  mt-5">
  
    <div class="card p-4 mx-auto">
      <h3 class="text-center mb-3">Welcome to the Library Management System</h3>
      <p class="text-center">This is a simple library management system built with Node.js, Express, and EJS.</p>
      <p class="text-center">Use the navigation bar to explore the application.</p>
    </div>
  </div>
</body>
</html>
